/*///////////////////////////////////////
SEARCH VIEW STYLES
///////////////////////////////////////*/

.search-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container form,
.search-container p {
  text-align: center;
}

.search-container form {
  border-bottom: 2px solid #515151;
  width: 80%;
  margin: 0 auto;
  display: inline-flex;
}

.search-icon {
  margin-left: -25px;
}

.search-container input {
  width: 100%;
  border: none;
  text-align: center;
  color: #777777;
  font-size: 2em;
  text-indent: 35px;
  margin-right: 25px;
}

.search-container p a {
  border-bottom: 1px dotted #515151;
}

.search-curent-loc {
  margin-top: 0;
}

/*///////////////////////////////////////
MEDIA QUERIES
///////////////////////////////////////*/

@media screen and (min-width: 840px) {
  .search-container form {
    width: 60%;
  }
}
