/*///////////////////////////////////////
DASHBOARD STYLES
///////////////////////////////////////*/

.weather-container {
  text-align: center;
}

.upper-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .8em;
}

.city-desktop {
  display: none;
}

.city-mobile {
  font-size: 4em;
  font-weight: 300;
}

.date-weather h3 {
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 0;
}

.date-weather h4 {
  font-weight: 300;
  font-size: 1.5em;
  margin-top: .5em;
}

.current-weather-temp {
  font-size: 5em;
  font-weight: 400;
  color: #f97970;
}

.todays-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  margin-top: .8em;
  font-size: 1.5em;
  font-weight: 300;
  color: #f97970;
}

.current-weather-icon {
  font-size: 7em;
  color: #f97970;
  margin-top: .1em;
  margin-bottom: .5em;
}

.forecast-weather-icon {
  font-size: 3em;
  color: #515151;
}

.forecast-temp,
.forecast-day {
  font-size: 1.2em;
  font-weight: 300;
  margin-top: .5em;
}

.forecast-list {
  margin-top: 2em;
}

/*///////////////////////////////////////
MEDIA QUERIES
///////////////////////////////////////*/

@media screen and (min-width: 840px) {

  .city-mobile {
    display: none;
  }

  .city-desktop {
    display: block;
  }
}
